<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Avaliação formadora 1 - Mobile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="assets/imagens/ava.png" alt="" class="imagem">
    <strong>Nome: Ygor da Silva Pinheiro </strong>
    <strong>Matricula: 23104887 </strong>
  </div>
  
</ion-content>